.quick-stats-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    position: relative;
    width: 90%;
}

.quick-stats-bar button {
    width: 15rem;
    margin: 0.5rem;
    padding: 0.5rem;
    color: rgb(var(--foreground-muted-rgb));
    background-color: unset;
    border: 1px solid rgb(var(--foreground-muted-rgb));
    border-radius: 10px;
    font-size: 1rem;
}

.quick-stats-bar button:hover {
    border: 1px solid rgb(var(--foreground-rgb));
    color: rgb(var(--foreground-rgb));
}