.detail-view {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--background-muted-rgb), 0.5);
}

.detail-view-content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 2rem;
    overflow-y: auto;
    position: relative;
    background-color: rgb(var(--background-rgb));
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(var(--background-muted-rgb), 1);
}

.detail-view-content-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.detail-view-content-head .edit {
    position: absolute;
    right: 2rem;
}

.detail-view-content h2 {
    color: rgb(var(--foreground-rgb));
    text-align: center;
}

.detail-view-content table {
    width: 100%;
    border-collapse: collapse;
}

.detail-view table th {
    padding: 0.5rem;
    text-align: right;
}

.detail-view table td {
    padding: 0.5rem;
    text-align: left;
}

.detail-view input {
    padding: 0.2rem;
    color: rgb(var(--foreground-muted-rgb));
    background-color: rgb(var(--background-rgb));
    outline: none;
    border: none;
    border-bottom: 0.5px solid rgb(var(--foreground-rgb));
    font-size: 1.1rem;
    width: 50vh;
}

.detail-view input:hover {
    color: rgb(var(--foreground-rgb));
    border: none;
    border-bottom: 1px solid rgb(var(--foreground-rgb));
    outline: none;
}

.detail-view input[type="date"],
.detail-view input[type="time"] {
    border: none;
    color-scheme: var(--color-scheme);
}

.detail-view select {
    padding: 0.2rem;
    width: 50vh;
    text-align: center;
    outline: none;
    border: 1px solid rgb(var(--foreground-muted-rgb));
    border-radius: 5px;
    background-color: rgb(var(--background-rgb));
    color: rgb(var(--foreground-muted-rgb));
}

.detail-view select:hover {
    border: 1px solid rgb(var(--foreground-rgb));
    color: rgb(var(--foreground-rgb));
    cursor: pointer;
}

.detail-view .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
}

.detail-view-content-head .edit,
.actions .update,
.actions .delete,
.actions .close {
    padding: 0.5rem;
    align-self: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}

.actions .update {
    background-color: transparent;
    color: rgb(var(--update-button-bg-rgb));
    border: 0.5px solid rgb(var(--update-button-bg-rgb));
}

.actions .delete {
    background-color: transparent;
    color: rgb(var(--delete-button-bg-rgb));
    border: 0.5px solid rgb(var(--delete-button-bg-rgb));
}

.detail-view-content-head .edit,
.actions .close {
    background-color: transparent;
    color: rgb(var(--close-button-text-rgb));
    border: 0.5px solid rgb(var(--foreground-rgb));
}

.actions .update:hover {
    background-color: rgb(var(--update-button-bg-rgb));
}

.actions .delete:hover {
    background-color: rgb(var(--delete-button-bg-rgb));
}

.actions .update:hover,
.actions .delete:hover {
    color: rgb(var(--action-button-text-rgb));
}

.detail-view-content-head .edit:hover,
.actions .close:hover {
    background-color: rgb(var(--foreground-rgb));
    color: rgb(var(--close-button-text-hover-rgb));
}